﻿@model MultiTenantProductCustomization.Models.Shared.ItemWitnName

@{
    ViewBag.Title = "title";
}

<h2>Add tenant: </h2>
@using (Html.BeginForm())
{
    <text>Name: </text> @Html.EditorFor(model => model.DisplayName)
    @Html.AntiForgeryToken()
    <br />
    <input type="submit" value="Save" />
}
