﻿@model List<MultiTenantProductCustomization.Models.Shared.ItemWitnName>

@{
    ViewBag.Title = "title";
}
<h2>Tenants</h2>
<table>
    <tr >
        <th width ="100">
            Name
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.ActionLink("USE", "UseTenant", new {id = item.Id})
            </td>
        </tr>
    }

</table>
<br />
<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Leave tenant", "LeaveTenant")</p>
