﻿@using MultiTenantProductCustomization.Infastructure.TenantsManagement
@using MultiTenantProductCustomization.IoC
@using Microsoft.Practices.Unity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Custom fields</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <font color ="white">
                            Current tenant - @Html.Label(IoCManager.Container.Resolve<ITenantManager>().GetCurrentTenantName() ?? "NOT SELECTED YET")
                        </font>
                    </li>
                    <li>@Html.ActionLink("Tenants", "Index", "Tenants")</li>
                    <li>@Html.ActionLink("Product Categories", "Index", "ProductCategories")</li>
                    <li>@Html.ActionLink("Product Attributes", "Index", "ProductAttributes")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
