﻿@model MultiTenantProductCustomization.Models.Products.AttributeValueModel

@{
    ViewBag.Title = "Create";
}

<h2>Add attribute value for attribute "@Html.DisplayFor(Model=>Model.AttributeName)" </h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AttributeId)
    <text>Value: </text> @Html.EditorFor(model => model.Name)
    @Html.AntiForgeryToken()
    <br/>
    <input type="submit" value="Save" />
}