﻿@model MultiTenantProductCustomization.Models.Products.ProductEditModel


@{
    ViewBag.Title = "Edit product";
}

<h2>Edit Product </h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ProductCategoryId)
    <text>Product category name :</text><b>@Html.DisplayFor(model => model.ProductCategoryName)</b>
    <br />
    @Html.LabelFor(model => model.Name)<text>: </text> @Html.EditorFor(model => model.Name)
    <br />
    <text>Attributes:</text>
    <br />
    @Html.EditorFor(x => x.Attributes)
    @Html.AntiForgeryToken()
    <input type="submit" value="Save" />
}
