﻿@model MultiTenantProductCustomization.Models.Products.ProductsListModel

@{
    ViewBag.Title = "title";
}

<h2>Filter results for category: "@Html.DisplayFor(x => Model.CategoryName)"</h2>
<ul>
    @foreach (var item in Model.Products)
    {
        <li>
            @Html.ActionLink(item.DisplayName, "View", new { id = item.Id })
        </li>
    }
</ul>

<p>@Html.ActionLink("Filter again", "Filter", new { controller = "Products", categoryId = Model.CategoryId })</p>
