﻿@model MultiTenantProductCustomization.Models.Products.ProductFilterModel

@{
    ViewBag.Title = "Filter products";
}

<h2>Filter @Html.DisplayFor(Model => Model.ProductCategoryName):</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductCategoryId)
    <text>Please select filters:</text>
    <br />
    @Html.EditorFor(x => x.Attributes)
    @Html.AntiForgeryToken()
    <input type="submit" value="Filter" />
}
