﻿@model MultiTenantProductCustomization.Models.Products.ProductsListModel

@{
    ViewBag.Title = "Products";
}

<h2>Products of category "@Html.DisplayFor(x => Model.CategoryName)"</h2>
<ul>
    @foreach (var item in Model.Products)
    {
        <li>
            @Html.ActionLink(item.DisplayName, "View", new {id = item.Id})
        </li>
    }
</ul>

<p>@Html.ActionLink("Add Product", "Create", new {controller = "Products", categoryId = Model.CategoryId})</p>
<p>@Html.ActionLink("Filter Products", "Filter", new { controller = "Products", categoryId = Model.CategoryId })</p>