﻿@model MultiTenantProductCustomization.Models.Products.ProductViewModel

@{
    ViewBag.Title = "View Product";
}

<h2>View product </h2>
Product name : @Html.DisplayFor(x => x.Name)
<br/>
Product category name : @Html.DisplayFor(x => x.ProductCategoryName)
<ul>
@foreach (var attribute in Model.Attributes)
{
    <li>@Html.DisplayFor(x=>attribute.AttributeName) - @Html.DisplayFor(x=>attribute.Name)</li>
}
</ul>
