﻿@model MultiTenantProductCustomization.Models.Shared.RadioGroupListItem
<p>@Html.DisplayFor(x => x.DisplayName)</p>
@foreach (var attribute in Model.Options)
{
    var id = $"answer-{attribute.Id}";
    <p>
        @Html.RadioButtonFor(m => m.Value, attribute.Id, new { id = id })
        @Html.DisplayFor(m => attribute.DisplayName)
    </p>
}
<br/>