﻿@model MultiTenantProductCustomization.Models.Products.ProductCategoryModel

@{
    ViewBag.Title = "Edit product category";
}

<h2>Edit Product Category</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.Name)<text>:</text>
    @Html.EditorFor(model => model.Name)
    <br/>
        <text>Avaliable attribute categories:</text>
    <br />
    @Html.EditorFor(x => x.ProductCategories)
    @Html.AntiForgeryToken()
    <input type="submit" value="Update" />
}
