﻿@model List<MultiTenantProductCustomization.Models.Shared.ItemWitnName>

@{
    ViewBag.Title = "Product Categories";
}

<h2>Product categories</h2>
<ul>
    @foreach (var x in Model)
    {
        <li>
            @Html.ActionLink(x.DisplayName, "Edit", new {id = x.Id})  (@Html.ActionLink("Show Products", "Index", new { controller = "Products", categoryId = x.Id }), @Html.ActionLink("Filter Products", "Filter", new { controller = "Products", categoryId = x.Id }))
        </li>
    }
</ul>
<p>
    @Html.ActionLink("ADD", "Edit", "ProductCategories")
</p>
