﻿@model MultiTenantProductCustomization.Models.Products.AttributeModel

@{
    ViewBag.Title = "title";
}


<h2>Add attribute: </h2>
@using (Html.BeginForm())
{
    <text>Name: </text> @Html.EditorFor(model => model.Name)
    @Html.AntiForgeryToken()
    <br />
    <input type="submit" value="Save" />
}