﻿@model System.Collections.Generic.List<MultiTenantProductCustomization.Models.Shared.ItemWitnName>

@{
    ViewBag.Title = "title";
}

<h2>Product attributes:</h2>
<ul>
    @foreach (var x in Model)
    {
        <li>
            @Html.ActionLink(x.DisplayName, "View", new { id = x.Id })
        </li>
    }
</ul>
<p>
    @Html.ActionLink("ADD", "Create", "ProductAttributes")
</p>
