﻿@model MultiTenantProductCustomization.Models.Products.ProductAttributeModel

@{
    ViewBag.Title = "title";
}

<h2>Product Attribute : @Html.DisplayFor(m => m.Name)</h2>
<p>Values:</p>
<ul>
@foreach (var attribute in Model.Attributes)
{
    <li>@Html.DisplayFor(x=>attribute.DisplayName)</li>
}
</ul>
@Html.ActionLink("Add", "Create", new { controller = "ProductsAttributeValues", categoryId = Model.Id })

